<ul>
<% @bookmark_title.each do |x|%>
<li>
<a href= <%=y%>> <%= x %> </a>
</li>
<%end%>
<%end%>
</ul>
<form action="/new_bookmark" method="post">
  
            <input type="text" name="bookmark_title">

            <input type="text" name="bookmarkURL">
        
            <input type="submit" value="Submit">
    
</form>
